<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark" />
  <meta name="generator" content={Astro.generator} />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fuchsia.min.css" />
  <link rel="icon" href="/favicon.ico" />
  <title>Maxine's Webzone</title>
</head>
<body>
  <main class="container">
    <slot></slot>
  </main>
</body>
</html>
