---
import BaseLayout from './BaseLayout.astro';

interface Props {
	title: string;
	description?: string;
	image?: ImageMetadata | {src: string};
}

const { title, description, image } = Astro.props;
---
<BaseLayout {title} {description} {image}>
    <div class="pico">
        <main class="container">
            <slot />
        </main>
    </div>
</BaseLayout>